.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.title {
  font-size: 1.4rem;
}
.amount {
  font-size: 1.6rem;
  font-weight: bold;
}
.item button {
  background: transparent;
  font-size: 1.7rem;
  cursor: pointer;
  outline: none;
  border: none;
}
